<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MFSoft_Base_EdaltecEntities" connectionString="metadata=res://*/GestionOT_model.csdl|res://*/GestionOT_model.ssdl|res://*/GestionOT_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.248.174.85,1533;initial catalog=MFSoft_Base_Edaltec;user id=sa;password=qP3@HGyrFwNzY6#p;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>